body {
  font-family: "Trip Sans";
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
  background-color: white;
}

h1 {
  line-height: 64px;
  letter-spacing: 0.1em;
  font-family: "Trip Sans med";
  font-weight: bolder;
  font-size: 50px;
  color: #ff5d5d;
  margin-bottom: 20px;
}

h2 {
  line-height: 33px;
  margin-bottom: 10px;
  font-family: "Trip Sans med";
  font-weight: bold;
  font-size: 28px;
  color: black;
}

h3 {
  line-height: 33px;
  font-family: "Trip Sans med";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-bottom: 10px;
}

h4 {
  line-height: 29px;
  font-family: "Trip Sans";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-bottom: 20px;
}

main {
  width: 1150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
/* Header  */

header {
  margin-top: 10px;
  font-family: "Trip Sans";
  width: 1150px;
  display: flex;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 40px;
}

header div {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

header div:nth-last-child(4) {
  flex: 7;
  justify-content: stretch;
}

header div:nth-child(1) {
  flex: 2;
  justify-content: stretch;
}

.hidden-header {
  display: none;
}
header div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
}

header div:nth-child(1) span {
  font-family: "Trip Sans";
  background-color: black;
  color: white;
  border-radius: 10px;
  line-height: 20px;
  padding: 5px;
  font-size: 16px;
  margin-left: 20px;
}

header i {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

header div p {
  font-family: "Trip Sans med";
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  text-align: center;
}

.logo {
  margin-right: 20px;
  justify-content: center;
}

.hiddenNav {
  display: none;
}

.hiddenCat {
  display: none;
}

/* menu */
nav {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 1150px;
  display: flex;
  background-color: white;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  border: black solid 1px;
  border-radius: 10px;
}
nav div p {
  padding-left: 10px;
  font-family: "Trip Sans med";
  font-weight: 500;
}

nav div:not(:last-child) {
  margin-right: 10px;
}

nav i {
  font-size: 16px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Bandeau photos */

.gallery {
  height: 430px;

  display: flex;
  box-sizing: border-box;
  position: relative;
}

.gallery img {
  object-fit: cover;
  width: 100%;
  position: relative;
}
.gallery i {
  margin: 3px;
}
.gallery button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: inherit;
  position: absolute;
  z-index: 2;
  top: 390px;
  padding: 7px;
}

.legend p {
  margin-top: 10px;
  font-size: 10 px;
  font-style: italic;
  line-height: 14px;
  font-family: "Trip Sans";
  color: #333333;
}

.bloc1 {
  flex: 1;
  height: 100%;
  margin-right: 2px;
  position: relative;
}

.bloc2 {
  width: 480px;
  height: 100%;
}

.bloc1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.bloc2 img {
  margin-left: 10px;
  object-fit: cover;
  width: 97%;
  height: calc(50% - 1.5px);
}

/* section immanquable  */

.section {
  display: flex;
}

section {
  margin-bottom: 30px;
}

.description {
  margin: 20px 0px 20px 0px;
  max-width: 50%;
}

.description p {
  font-family: "ExcellenceInMotion";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-align: justify;
}

section p {
  font-family: "ExcellenceInMotion";
  text-align: justify;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-top: 2px;
  margin-bottom: 0px;
}

.sectionText {
  margin-right: 20px;
  flex: 1;
}

.caroussel {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  flex: 3;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*.caroussel::-webkit-scrollbar {
  display: none;
}*/

.immanquable {
  display: flex;
  height: 310px;
  margin-bottom: 20px;
}

.caroussel div {
  margin-right: 10px;
  position: relative;
}

.caroussel img {
  width: 280px;
  object-fit: cover;
  position: relative;
}

.caroussel i {
  font-size: 25px;
  z-index: 2;
  position: absolute;
  padding-top: 5px;
  padding-left: 220px;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bloc p {
  font-family: "Trip Sans";
}

.carousselST {
  color: #545454;
  font-size: 18px;
  line-height: 18px;
}

.carousseRating {
  color: #333333;
  font-size: 12px;
  line-height: 14px;
}

.carousseCat {
  color: #333333;
  font-size: 14px;
  line-height: 17px;
}

.next {
  font-size: 50px;
  z-index: 3;
  position: absolute;
  padding-top: 75px;
  padding-left: 1130px;
}
/* form */

form {
  font-family: "Trip Sans med";
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 500px;
}

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.form-content div h4 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.form-content {
  position: relative;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  margin: auto;
  padding: 20px;

  background-color: white;
  height: 600px;
}

form input,
form textarea {
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Trip Sans med";
  color: #333333;
  padding: 20px;
  border: black solid 2px;
}

form input:nth-last-child(1) {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Trip Sans med";
  background-color: #35e1a1;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 200px;
}

/* The Close Button */
.form-container div i {
  background-color: brown;
  color: rgb(0, 0, 0, 0.5);
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 100;
}

.form-container i:hover {
  color: black;
  cursor: pointer;
}

/* Footer  */

footer {
  border-top: solid 1px #ff5d5d;
  margin-top: 50px;
}

.wrapper {
  background-color: white;
  margin-top: 20px;
  font-family: "Trip Sans";
  width: 1150px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

footer img {
  width: 20px;
}

/*  Responsive sous 768px. */
