@media (max-width: 768px) {
  body {
    margin-left: 20px;
  }

  main {
    width: 95vw;
    padding-left: 10px;
  }

  h1 {
    line-height: 32px;
    font-size: 32px;
    margin-bottom: 20px;
  }

  h2 {
    line-height: 33px;
    font-size: 28px;
  }

  /*header  */
  .logo {
    width: 50%;
  }

  header div {
    display: flex;
    justify-items: center;
    background-color: white;
    justify-content: space-between;
  }

  header div:nth-child(7) {
    justify-content: center;
  }

  header div:nth-last-child(3) {
    flex: 1;
    justify-content: stretch;
    background-color: white;
  }

  header {
    margin-bottom: 25px;
    width: 95vw;
    display: flex;
    background-color: white;
    justify-content: space-between;
  }

  header > div:nth-child(-n + 5) {
    display: none;
  }

  header i {
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .hidden-header {
    display: flex;
  }

  /*menu*/

  nav {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 95vw;
    height: 60px;
    background-color: white;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
  }

  nav div {
    position: relative;
    padding: 17px;
    flex: 1;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
  }

  nav div p {
    font-size: 16 px;
    line-height: 20px;
    flex: 1;
  }

  nav div:nth-child(2) p {
    width: 170px;
  }

  nav div:nth-child(5) p {
    width: 170px;
  }

  .hiddenNav {
    display: flex;
    position: absolute;
  }

  main .hiddenNav:nth-child(1) {
    background-color: cadetblue;
    padding: 0px;
    border: none;
    top: 60px;
    right: 1vw;
    z-index: 5;
    position: absolute;
  }

  main .hiddenNav:nth-child(2) {
    padding: 0px;
    border: none;
    top: 120px;
    left: 35px;
    z-index: 5;
    position: absolute;
  }

  main .hiddenNav:nth-child(1) i {
    padding-left: 100px;
    padding-right: 0px;
    font-size: 25px;
    background: linear-gradient(
      to left,
      rgb(245, 240, 240) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    font-weight: bold;
  }

  main .hiddenNav:nth-child(2) i {
    padding-left: 0px;
    padding-right: 100px;
    font-size: 25px;
    background: linear-gradient(
      to right,
      rgb(245, 240, 240) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    font-weight: bold;
  }

  .hiddenCat {
    display: flex;
    position: absolute;
    position: relative;
    padding: 17px;
    flex: 1;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
  }

  nav div i {
    background-color: coral;
    margin-top: 0px;
    margin-left: 30px;
    padding-top: 0px;
  }
  /* Bandeau photos */

  .bloc2 {
    display: none;
  }

  .gallery {
    height: 300px;
    width: 100vw;
    margin-bottom: 40px;
    margin-left: -20px;
  }

  .gallery img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .gallery button {
    top: 260px;
    left: 15px;
    padding: 6px;
  }

  .legend p {
    display: none;
  }

  /* Section les immanquables  */
  section {
    margin-bottom: 50px;
  }

  .description p {
    font-size: 16px;
    line-height: 21px;
    width: 90vw;
  }

  .description {
    margin-bottom: 50px;
  }

  .immanquable {
    flex-direction: column;
    width: 95vw;
    height: 650px;
  }

  .caroussel img {
    width: 70vw;
    object-fit: cover;
    position: relative;
  }

  .caroussel i {
    font-size: 25px;
    z-index: 2;
    position: absolute;
    padding-top: 5px;
    padding-left: 65vw;
  }

  .next {
    padding-top: 280px;
    padding-left: 87vw;
    color: white;
  }

  .form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-content: center;
    width: 90vw;
  }

  .form > h1 {
    text-align: center;
  }

  /*footer */
  .wrapper {
    width: 95vw;
  }
}
